<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto | DH Records</title>
    <script src="https://kit.fontawesome.com/986ef756a5.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/general-styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <link rel="stylesheet" href="/css/formularios.css">
    <script src="/js/products/createFormHandler.js" defer></script>

</head>

<body>

    <div class="contenedor-general">

    <%- include('../partials/header.ejs') %>
    
    <main>
        <div class="contenedor-formulario">
            <form action="/products/" method="POST" enctype="multipart/form-data" class="formulario"> 
                
                <h1 class="formulario__titulo">Crear un producto nuevo</h1>
                
                <div class="formulario__field">
                    <label for="titulo" class="formulario__label">Titulo:</label>
                    <input type="text" class="formulario__input" id="titulo" name="titulo" value="" required> 
                </div>
                
                <div class="formulario__field">
                    <label for="genero" class="formulario__label">Género:</label>
                    <select id="genero" name="genero" class="formulario__input" required>
                        <option value="" disabled selected>Seleccione un género</option>
                        <% genres.forEach(function(genre) { %>
                            <option value="<%= genre.id %>"><%= genre.nombre %></option>
                        <% }); %>
                    </select>
                </div>

                <div class="formulario__field">
                    <label for="descripcion" class="formulario__label">Description:</label>
                    <textarea id="descripcion" class="formulario__input" name="descripcion" rows="4" required></textarea> 
                </div>
        
                <div class="formulario__field">
                    <label id="authorLabel" for="autor" class="formulario__label">Autor:</label>
                    <select id="authorSelect" name="autor" class="formulario__input visible" required>
                        <option value="" disabled selected>Seleccione un autor</option>
                        <% authors.forEach(function(author) { %>
                            <option value="<%= author.id %>"><%= author.nombre %></option>
                        <% }); %>
                    </select>
                    <input type="text" class="formulario__input hidden" id="newAuthorInput" name="newAuthor"  placeholder="Ingrese el nombre del nuevo autor">
                </div>
                <div class="formulario__field">
                    <input type="checkbox" class="formulario__input--checkbox" id="newAuthorCheckbox">
                    <label for="newAuthorCheckbox" class="formulario__label--checkbox">Agregar Autor a la lista</label>
                </div>
                
                <div class="formulario__field">
                    <label for="precioCosto" class="formulario__label">Precio Costo:</label>
                    <input type="number" class="formulario__input" id="precioCosto" name="precioCosto" step="0.01" value="" required> 
                </div>
        
                <div class="formulario__field">
                    <label for="precioVenta" class="formulario__label">Precio de venta:</label>
                    <input type="number" class="formulario__input" id="precioVenta" name="precioVenta" step="0.01" value="" required> 
                </div>
                
                <div class="formulario__field">
                    <label for="imagen" class="formulario__label">Imagen de portada:</label>
                    <input type="file" class="formulario__input" id="imagen" name="imagen" required> 
                </div>
        
                <div class="formulario__field">
                    <label for="releaseDate" class="formulario__label">Fecha de lanzamiento:</label>
                    <input type="date" class="formulario__input" id="releaseDate" name="releaseDate" required>
                </div>
        
                <div class="formulario__field">
                    <label for="estilo" class="formulario__label">Estilo:</label>
                    <input type="text" class="formulario__input" id="estilo" name="estilo" value="" required> 
                </div>
        
                <div class="formulario__field--contenedor-btn">
                    <button type="submit" class="formulario__button">Guardar Cambios</button>
                </div>
            </form>
        </div>
        
    </main>

    </div>
</body>
</html>


