<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Product Details | DH Records</title>
    <script src="https://kit.fontawesome.com/986ef756a5.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="/Images/dh-records.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/css/general-styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <link rel="stylesheet" href="/css/product-detail.css">
    <link rel="stylesheet" href="/css/product-card.css">
</head>

<body>
    <div class="contenedor-general"> 

    <%- include('../partials/header.ejs') %>
    
    <main>
    
        <h2 class="producto__titulo-principal"> <%= product.titulo %> </h2>

        <section class="producto__contenedor-general">

            <div class="producto__contenedor-info--img">
                <div class="producto__contenedor-img">
                    <img src="/Images/main-img-product/<%= product.imagenesProductos[0].nombre %>" alt="imagen del producto" class="producto__img">
                </div>
                <div class="producto__field--info">
                    <p class="producto__info-item--descripcion"><%= product.descripcion %></p>
                </div>
            </div>
            
            <div class="producto__contenedor-info">
                
                <div class="producto__field--info">
                    <p class="producto__info-item">Título: <%= product.titulo %> </h4>
                    <p class="producto__info-item">Autor: <%= product.autores.nombre %> </p>
                    <p class="producto__info-item">Fecha de estreno: <%=product.release_date.toISOString().split('T')[0] %> </p>
                    <p class="producto__info-item">Genero: <%=product.generos.nombre %> </p>
                    <p class="producto__info-item">Estilo: <%= product.estilo %></p>
                    <p class="producto__info-item">Calificación: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> </p>     
                </div>
                
                <div class="producto__field--contenedor-precio">
                    <h3 class="producto__info-item">Precio:&nbsp;</h4>
                    <p class="producto__info-item"> $<%= product.precio_venta %></p>
                </div>

                <div class="producto__field--contenedor-btn">
                    <form method="POST" action="/products/cart/<%= product.id %>">
                        <button type="submit" class="producto__button">Comprar! <i class="fa-solid fa-cart-shopping"></i></button>
                    </form>
                    <% if(locals.isLogged) { %>
                        <% if(locals.userLogged.categorias_id == 1) { %>
                        <a href="/products/edit/<%= product.id %>" class="producto__button visible">Editar Producto</a>
                        <form method="POST" action="/products/<%= product.id %>?_method=DELETE">
                            <button type="submit" class="producto__button visible">Eliminar Producto</button>
                        </form>
                        <% } %>
                    <% } %>
                </div>

            </div>
        </section>

        <section class="referidos__contenedor-general">
            
            <h3 class="referidos__titulo-principal">Referidos</h3>

            <div class="referidos__contenedor-tarjeta-producto">
                
                <% productRef.forEach(product=> { %> 
                    <% if (product.id !== product.id) { %>
                    <a href="/products/<%= product.id %>">
                        <article class="tarjeta_producto">
                            <div class="tarjeta-producto__contenedor-img">
                                <img src="/Images/main-img-product/<%= product.imagenesProductos[0].nombre %>" alt="imagen del producto" class="tarjeta-producto__img">
                            </div>
                            <div class="tarjeta-producto__contenedor-info">
                                <div class="tarjeta-producto__contenedor-info--descripcion">
                                    <p class="tarjeta-producto__titulo"><%= product.titulo %></p>
                                    <p class="tarjeta-producto__autor"><%= product.autores.nombre %></p>
                                </div>
                                <h3 class="tarjeta-producto__precio">$<%= product.precio_venta %></h3>     
                            </div>
                        </article>
                    </a>
                    <% } %>
                 <% }) %>
            </div>
            
        </section>

    </main>

    <%- include('../partials/footer.ejs') %>

    </div>
</body>
    
</html>



