<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto | DH Records</title>
    <link rel="stylesheet" href="/css/edit-product.css">
</head>
<body>
    <form action="/edit/<%= productId.id %>" method="POST"> 
        <h1>Edit Product </h1>
        <input type="hidden" name="_method" value="PUT">
        
        <label for="name">Product name:</label>
        <input type="text" id="name" name="name" value="<%= productId.name %>" required> 
        
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" required><%= productId.description %></textarea> 
        
        <label for="image">Image:</label>
        <input type="file" id="image" name="image" accept="image/*"> 
        
        <label for="categoria">Category:</label>
        <select id="categoria" name="categoria" required>
            <option value="Pop">Pop</option>
            <option value="Rock">Rock</option>
            <option value="Pop-Rock">Pop-Rock</option>
            <option value="Electronica">Electronica</option>
            <option value="Country">Country</option>
            <option value="R&B">R&B</option>
            <option value="Soul">Soul</option>
            <option value="Heavy Metal">Heavy Metal </option>
            <option value="Rap-Hip-Hop">Rap-Hip-Hop</option>
        </select>
        
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" step="0.01" value="<%= productId.price %>" required> <!-- Agregado valor del precio del producto -->
        
        <!-- Contenedor de los 2 botones -->
        <div class="botones-container">
            <!-- Botón de guardar cambios -->
            <button type="submit">Guardar Cambios</button>

            <!-- Contenedor del botón "Eliminar Producto" -->
            <div class="eliminar-producto-container">
                <form action="/eliminar-producto/<%= productId.id %>" method="POST">
                    <button type="submit" class="eliminar-producto-button" onclick="return confirm('¿Estás seguro que quieres eliminar este producto?')">Eliminar Producto</button>
                </form>
            </div>
        </div>
    </form>
</body>
</html>


