<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto | DH Records</title>
    <link rel="stylesheet" href="/css/product-create-edit.css">
    <script src="/js/products/createFormHandler.js" defer></script>
</head>
<body>

    <form action="/products/<%= productId.id %>?_method=PUT" method="POST" enctype="multipart/form-data"> 
        <h1>Editar un producto existente</h1>
        
        <label for="titulo">Titulo:</label>
        <input type="text" id="titulo" name="titulo" value="<%= productId.titulo %>" required> 
        
        <label for="genero">Género:</label>
        <select id="genero" name="genero" required>
            <option value="" disabled selected>Seleccione un género</option>
            <% genres.forEach(function(genre) { %>
                <% if(genre.id == productId.generos.id) { %>
                    <option value="<%= genre.id %>" selected><%= genre.nombre %></option>
                <% }else { %>
                    <option value="<%= genre.id %>"><%= genre.nombre %></option>
                <% } %>

            <% }); %>
        </select>
        <a href="/#"><label>no encontras el Género? agregalo a la lista</label></a>

        <label for="descripcion">Description:</label>
        <textarea id="descripcion" name="descripcion" rows="4" required><%= productId.descripcion %></textarea> 

        <label id="authorLabel" for="autor">Autor:</label>
        <select id="authorSelect" name="autor" class="visible" required>
            <option value="" disabled selected>Seleccione un autor</option>
            <% authors.forEach(function(author) { %>
                <% if(author.id == productId.autores.id) { %>
                    <option value="<%= author.id %>" selected><%= author.nombre %></option>
                <% }else { %>
                    <option value="<%= author.id %>"><%= author.nombre %></option>
                <% } %>
            <% }); %>
        </select>
        <input type="text" id="newAuthorInput" name="newAuthor" class="hidden" placeholder="Ingrese el nombre del nuevo autor">
        <input type="checkbox" id="newAuthorCheckbox">
        <label for="newAuthorCheckbox">Agregar Autor a la lista</label>


        <label for="precioCosto">Precio Costo:</label>
        <input type="number" id="precioCosto" name="precioCosto" step="0.01" value="<%= productId.precio_costo %>" required> 

        <label for="precioVenta">Precio de venta:</label>
        <input type="number" id="precioVenta" name="precioVenta" step="0.01" value="<%= productId.precio_venta %>" required> 
        
        <% if (productId.imagenesProductos) { %>
            <label for="imagenActual">Imagen actual:</label>
            <img src="/Images/main-img-product/<%= productId.imagenesProductos[0].nombre %>" alt="Imagen actual del producto" style="max-width: 200px;">
        <% } %>

        <label for="imagen">Seleccionar una NUEVA Imagen de portada?</label>
        <input type="file" id="imagen" name="imagen"> 

        <label for="releaseDate">Fecha de lanzamiento:</label>
        <input type="date" id="releaseDate" name="releaseDate" value="<%= productId.release_date.toISOString().split('T')[0] %>" required>

        <label for="estilo">Estilo:</label>
        <input type="text" id="estilo" name="estilo" value="<%= productId.estilo %>" required> 
        

        <!-- Contenedor de botones -->
        <div class="botones-container">

            <button type="submit">Guardar Cambios</button>

        </div>
    </form>
</body>
</html>


