<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head-1.ejs') %>   

<!-- aca se inserta la hoja de estilo correspondiente a la vista -->
<link rel="stylesheet" href="/css/product.css">

<%- include('../partials/head-2.ejs') %>  
    
<body>
    <%- include('../partials/header.ejs') %>
    
    <main class="main">
        <h2 class="titulo-seccion-general">List of products</h1>

        <div class="section_container">

            <section class="side-bar">
                <p class="side-bar-filter"> Barra lateral de filtros modificado</p>
                <a href="#" class="side-bar__btn"> Aplicar Filtros </a>
                <a href="/products/create" class="side-bar__btn"> Crear Nuevo Producto </a>
            </section>
    
            <section class="productos__seccion">
                
                <% products.forEach(product=> { %>
                    
                    <article class="productos__articulo main__articulo">
                        <a href="/products/<%= product.id %>">
                            <img src="Images/main-img-product/<%=product.imagenesProductos[0].nombre%>" class="productos__img">
                            <div class="productos__info">
                                <p class="productos__descripcion"> <%= product.autores.nombre %> </p>
                                <p class="productos__precio"> <%= product.precio_venta %> </p>     
                            </div>
                        </a>
                    </article>
    
                 <% }) %>
     
                 <section class="productos__section-boton">
                    <form action="/" method="post">
                        <div class="productos__botonPadre">
                            <button class="productos__boton" type="submit" value="Ver Mas Productos"> See More Products </button>
                        </div>
                    </form>
                </section>
                
            </section>


        </div>

        <%- include('../partials/footer.ejs') %>
    </main>
    
</body>
</html>

