<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head-1.ejs') %>   
<link rel="stylesheet" href="/css/home.css">
<%- include('./partials/head-2.ejs') %>  

<body class="contenedor-general-home">
    
        
        <%- include('./partials/headerBanner.ejs') %>   

        <main class="main">
          <section id="destacados" class="seccion__texto">
            <h2 class="titulo">Featured Products</h2>
            <h4 class="subtitulo">Top picks from Our vinyl collection, essential albums for every music lover</h4>
          </section>

            <section class="productos__seccion">
                <% products.slice(0,6).forEach(product => { %>                 <!-- slice = devuelve una copia de una parte de un array en un nuevo array-->
                    <article class="productos__articulo main__articulo">
                      <a href="/products/<%= product.id %>"> 
                        <img src="/Images/main-img-product/<%= product.imagenesProductos[0].nombre %>" class="productos__img">
                        <div class="productos__info">
                          <p class="productos__descripcion"><%= product.titulo %></p>
                          <p class="productos__precio">$<%= product.precio_venta %></p>
                        </div>
                      </a>
                    </article>
                  <% }) %>
            </section>

            <section class='seccion'>
              <article class="seccion__banner">
                  <div class="seccion__banner--imagen"> 
                  </div>
              </article>

              <div class="seccion__banner--texto">
                  <h2 class="seccion__banner--titulo">The Art of Vinyl </h2>
                  <p class="seccion__banner--subtitulo"> Admire the unique and classic editions that have marked generations </p>
                  <div class="seccion__banner__boton-contenedor">
                    <a href="/products" class="seccion__banner--boton">Products</a>
                  </div>
              </div>
             
          </section>

            <section class='blog'>
              <article class="blog__seccion">
                <div class="blog__seccion--imagen">
                </div>
                <div class="blog__seccion--texto">
                    <h2 class="blog__seccion--titulo"> Experience History Through Our Music</h2>
                    <p class="blog__seccion--p"> Immerse yourself in our world and discover the magic of vinyl: from the latest news and releases to fascinating stories. Here we celebrate the purity of music and share our passion for records that have defined eras. Join our community of music lovers and relive the unique experience of listening music on vinyl!</p>
                </div>
              </article>
          </section>

      

        </main>
        
    <%- include('./partials/footer.ejs') %>
        
</body>
</html>

