<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head-1.ejs') %>   
<link rel="stylesheet" href="/css/home.css">
<%- include('./partials/head-2.ejs') %>  

<body>
    <div class="contenedor-general-home">
        
        <%- include('./partials/headerBanner.ejs') %>   
    
        <main class="main">
           
            <section id="destacados" class="productos__seccion">
                <% products.slice(0,6).forEach(product => { %>
                    <article class="productos__articulo main__articulo">
                      <a href="/products/<%= product.id %>"> 
                        <img src="/Images/main-img-product/<%= product.imagenesProductos[0].nombre %>" class="productos__img">
                        <div class="productos__info">
                          <p class="productos__descripcion"><%= product.titulo %></p>
                          <p class="productos__precio">$<%= product.precio_venta %></p>
                        </div>
                      </a>
                    </article>
                  <% }) %>
            </section>
            
    
        </main>
    
        
    <%- include('./partials/footer.ejs') %>
        
    </div>
</body>
</html>
