<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head-1.ejs') %> 
    <link rel="stylesheet" href="/css/perfil-usuario.css">
    <%- include('../partials/head-2.ejs') %>
    <script src="/js/users/detailImages.js" defer></script>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="contenedor">
            <section class="perfil">
                <article class="perfil__imagen">
                        <img src="/Images/users/<%= user.imagenUsuario %>" alt="user-avatar" class="perfil__img">
                        <h2 clas="perfil__imagen--nombre"> Name: <%= user.nombreUsuario %> </h2>
                        <h3 class="perfil__imagen--email"><%= user.email %></h3>
                        <form class='perfil__imagen--formulario' action='/users/uploadProfilePicture/<%= user.id %>' method='POST' enctype='multipart/form-data'>
                            <input class='formulario__input' type='file' id ='profilePicture' name='profilePicture' accept='image/*'>  
                            <button class="boton__upload" type='submit'> Upload </button>
                        </form>
                        
                </article>
                <section class="perfil__info">
                    <article class="perfil__info--user">
                        <h3 class="titulo__info">My information</h3>
                            <div class="grupo__info">
                                <div class="grupo__info--user">
                                    <p>Name and Surname</p>
                                    <p><%= user.nombreUsuario %></p>
                                </div>
                                <div class="grupo__info--user">
                                    <p>E-Mail</p>
                                    <p><%= user.email %></p>
                                </div>
                                <div class="grupo__info--user">
                                    <p>DNI</p>
                                    <p>12345678</p>
                                </div>
                                <div class="grupo__info--user">
                                    <p>Address</p>
                                    <p>Street 123</p>
                                </div>
                            </div>
                    </article>
                    <article class="perfil__info--compras">
                        <h3 class="titulo__info">Mis Compras</h3>
                            <div class="grupo__info">
                                <div class="grupo__info--compras">
                                    <p>N Article</p>
                                    <p>Buy 1</p>
                                </div>
                                <div class="grupo__info--compras">
                                    <p>Deliver date</p>
                                    <p>Products</p>
                                </div>
                                <div class="grupo__info--compras">
                                    <p>State</p>
                                    <p>Traveling</p>
                                </div>
                                <div class="grupo__info--compras">
                                    <p>Delivered Date</p>
                                    <p>Arrives on July 9</p>
                                </div>
                                <div class="grupo__info--compras">
                                    <p>Products</p>
                                    <p>Vinyl 1, Vinyl 2...</p>
                                </div>
                            </div>
                    </article>
                    <article class="perfil__info--seguridad">
                        <h3 class="titulo__info">Security</h3>
                            <div class="grupo__info">
                                <div class="grupo__info--seguridad">
                                    <p>Change Password</p>
                                    <p>********</p>
                                </div>
                                <div class="grupo__info--seguridad">
                                    <p>Change E-Mail</p>
                                    <p>********</p>
                                </div>
                                <div class="grupo__info--seguridad">
                                    <p>Delete Account</p>
                                    <p>********</p>
                                </div>
                              
                            </div>
                    </article>
                </section>
            </section>
        </div>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
