<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head-1.ejs') %> 
    <link rel="stylesheet" href="/css/perfil-usuario.css">
    <%- include('../partials/head-2.ejs') %>
    <script src="/js/users/detailImages.js" defer></script>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="contenedor">
            <section class="perfil">
                <article class="perfil__imagen">
                        <img src="/Images/users/<%= user.imagenUsuario %>" alt="user-avatar" class="perfil__img">
                        <h2 class="perfil__imagen--nombre"> <%= user.nombreUsuario %> </h2>

                        <form  action="/users/edit/<%= user.id %>" method="GET">
                            <button type="submit" class="boton-admin">Edit</button>
                        </form>
                </article>

                <section class="perfil__info">
                    <article class="perfil__info--user">
                        <h3 class="titulo__info">My information</h3>
                            <div class="grupo__info">
                                <div class="grupo__info--user">
                                    <p>Name</p>
                                    <p><%= user.nombreUsuario %></p>
                                </div>
                                <div class="grupo__info--user">
                                    <p>Last Name</p>
                                    <p><%= user.apellidoUsuario %></p>
                                </div>
                                <div class="grupo__info--user">
                                    <p>Email</p>
                                    <p><%= user.email %></p>
                                </div>
                                <div class="grupo__info--user">
                                    <p>DNI</p>
                                    <p><%= user.dni %></p>
                                </div>
                                <div class="grupo__info--user">
                                    <p>Address</p>
                                    <p><%= user.direccion %></p>
                                </div>
                            </div>
                    </article>
               
                    </article>
                </section>
            </section>
        </div>
        </div>
    </main>

</body>
