<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head-1.ejs') %>   
    <link rel="stylesheet" href="/css/users.css">
    <%- include('../partials/head-2.ejs') %>
</head>

<body>
    <div class="users-card">
    <%- include('../partials/header.ejs') %>
    <main>
        <h1 class="titulo">Users Profile</h1>
        <section class="users-card__contenedor">
            <% users.forEach(function(user) { %>
                <a href="/users/edit/<%= user.id %>" >
                    <article class="tarjeta-user">
                        <div class="tarjeta-user__info">
                            <div class="tarjeta-user__info--descripcion">
                                <p class="tarjeta-user__info--titulo"><%= user.nombreUsuario %></p>
                                <p class="tarjeta-user__info--titulo"><%= user.id %></p>
                            </div>
                        </div>
                    </article>
                </a>
            <% }); %>
        </section>
    </main>
    </div>
    
</body>
</html>
